.btn-centered {
    margin: auto;
}

.caché {
    display: none;
}

.btn3 {
	display: inline-block;
	width: auto;
	font-weight: 700;
	padding: 10px;
	background-color: #293fb9;
	box-shadow: rgba(0, 0, 0, .3) 0 0 2px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none
}